@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
  /* color primario */
  --color-primary-50: #305a71;
  --color-primary-100: #254d63;
  --color-primary-200: #1f4860;
  --color-primary-300: #1a4660;
  --color-primary-400: #0c4667;
  --color-primary-500: #084264;
  --color-primary-600: #013e62;
  --color-primary-700: #0e3850;
  --color-primary-800: #0d2e41;
  --color-primary-900: #09293c;
}